@model WebApplication1.Models.Disponibilidad_Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Disponibilidad_Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_DisponibilidadVehiculo" />
            <div class="form-group">
                <label asp-for="ID_Vehiculo" class="control-label"></label>
                <select asp-for="ID_Vehiculo" class="form-control" asp-items="ViewBag.ID_Vehiculo"></select>
                <span asp-validation-for="ID_Vehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_inicio" class="control-label"></label>
                <input asp-for="hora_inicio" class="form-control" />
                <span asp-validation-for="hora_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_fin" class="control-label"></label>
                <input asp-for="hora_fin" class="form-control" />
                <span asp-validation-for="hora_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
